:root {
  --primary-color: #6200ee;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  outline-color: red;
}

body {
  margin: 1rem;
  border: 0px;
  background-color: rgb(37, 89, 134);
  display: flex;
  justify-content: space-around;
}

.card-basic {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  width: 350px;
  height: 382px;
}

.card-image {
  height: 50%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.card-content {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: column;
  flex-basis: 66.6666%;
  font-size: 1.4rem;
}

.card-title {
  padding: 1.6rem;
}

.card-title-header {
  font-weight: bold;
  font-size: 2rem;
}

.card-title-author {
  color: gray;
}

.card-desc {
  padding: 0rem 1.6rem 0.8rem 1.6rem;
  color: gray;
}

.card-footer {
  padding: 0rem 1.6rem;
  display: flex;
  flex-basis: 33.33333%;
  align-items: center;
}

.card-button {
  text-transform: uppercase;
  border: 0;
  padding: 1rem 0.5rem;
  color: var(--primary-color);
  background-color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
}

.card-button:hover {
  background-color: #e5e4e2;
  cursor: pointer;
}

.card-button:not(:first-child) {
  margin-left: 1rem;
}

.card-footer-icons {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

.mdc-icon-button__icon {
  border: 0;
  width: 44px;
  height: 44px;
  background-color: white;
}

.mdc-icon-button__icon:hover {
  background-color: #e5e4e2;
  border-radius: 50%;
}

.card-basic-text-over-media{
  height: 312px;
}

.card-text-over-media {
  margin-top: -66px;
}

.card-image-text-over-media{
  height: 197px;
}

.white-text {
  color: white;
}
