.badge-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: #48acf0;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  opacity: 0.9;
}

.sm-badge {
  font-size: 0.5rem;
  padding: 0.2rem;
  min-width: 0.7rem;
  min-height: 0.7rem;
  top: -0.3rem;
  right: -0.7rem;
}

.lg-badge {
  font-size: 0.7rem;
  padding: 0.2rem;
  min-width: 1rem;
  min-height: 1rem;
  top: -0.5rem;
  right: -1rem;
}

.badge-left {
  right: initial;
  left: -0.5rem;
}

.badge-icon {
  top: -0.2rem;
  right: 0rem;
}


.badge-icon.sm-badge{
    top: -0.1rem;
    right: 0.3rem;
  }

