.drawer {
  background-color: white;
  font-size: 1.4rem;
  width: 35rem;
  max-height: 36rem;
  overflow-y: auto;
}

.drawer-header {
  position: sticky;
  top: 0;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
}

.drawer-menu {
  padding: 0.5rem 1rem;
}

.drawer-menu .menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.drawer-menu .active {
  background-color: #48acf0;
  border-radius: 0.5rem;
  color: white;
}

.drawer-icon {
  font-size: 2.5rem;
}

.drawer-sub-text {
  color: #808080;
  font-weight: 100;
  font-size: 1rem;
  padding: 0.5rem 0rem;
}

.drawer-sub-text-seperator {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 0.5rem;
}
